body {
    background-color: rgb(227, 227, 227);
}

* {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 14px;
    color: rgb(86, 100, 112);
}

form {
    padding: 0;
    margin: 0;
}

input,
select,
textarea {
    font-family: 'Roboto' !important;
    font-weight: 100 !important;
}

button {
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
}

header .logo {
    float: left;
}

header .logo a {
    display: inline-block;
    vertical-align: middle;
}

header .logo img {
    height: 29px;
    margin-top: 18px;
}

header .menu-out {
    float: right;
    margin-top: 20px;
}

header .menu-out .item {
    font-weight: 300;
    color: #666664;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

header .menu-out .item:hover,
header .menu-out .item:active,
header .menu-out .item:link {
    text-decoration: none;
}

header .menu-out .item.active {
    color: #3f6bad;
}

header .menu-out .item.active:after {
    display: block;
    content: ' ';
    height: 3px;
    width: 100%;
    background: #3f6bad;
}

footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

footer .copy {
    text-align: center;
    font-size: 14px;
    color: rgb(15, 107, 177);
}

header .countries {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    margin-top: -4px;
}

header .countries:hover > .countries-sub {
    display: block;
}

header .countries .countries-sub {
    display: none;
    position: absolute;
    top: 18px;
    right: -15px;
    padding: 10px 0;
    z-index: 10;
}
header .countries .countries-sub-in {
    background: #eee;
    padding: 15px;
    width: 140px;
}

header .countries .countries-sub-in a {
    padding: 10px 0;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #666664;
    border-bottom: 1px solid #ccc;
}

header .countries .countries-sub-in a:last-child {
    border-bottom: none !important;
}